:root {
    --sr-all-padding: 10px 15px;
    --sr-primary-color: #343434;
    --sr-secondary-color: #D0D0D0;
    --sr-tertiary-color: #00A3FF;
    --sr-color-text-input: #393939;

    --sr-primary-font-size: 1rem;

    --sr-primary-transparency: rgba(255, 255, 255, .4);
}

.sr-container {
    display: flex;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    background-image: url('../assets/sky.webp');
    background-size: cover;
    position: relative;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    gap: 20px;

    & .sr-container-header {
        display: flex;
        width: 100%;
        height: max-content;
        flex-direction: column;
        padding: var(--sr-all-padding);
        gap: 10px;

        //Área aonde está o dominio do projeto
        & .sr-header-domine {
            text-align: left;

            & .sr-domine-link {
                color: var(--sr-secondary-color);
                font-size: var(--sr-primary-font-size);

                & span {
                    color: var(--sr-tertiary-color);
                    font-weight: bold;
                }
            }
        }

        //Área aonde está o input e o button
        & .sr-header-search {
            display: flex;
            justify-content: center;
            width: 100%;
            padding: 0 5px;

            & .sr-search-input {
                background-color: var(--sr-primary-transparency);
                outline: none;
                border: none;
                border-radius: 20px 0 0 20px;
                height: 30px;
                padding: 0 10px;
                width: 270px;
                color: var(--sr-color-text-input);
            }

            & .sr-search-button {
                background-image: url('../assets/lupa.svg');
                background-size: 20px;
                background-position: center;
                background-repeat: no-repeat;
                width: 30px;
                height: 30px;
                background-color: var(--sr-primary-transparency);
                border: none;
                border-radius: 0 20px 20px 0;
                cursor: pointer;

                &:hover {
                    background-color: rgba(255, 255, 255, .6);
                }
            }
        }

    }

    & .sr-container-main {
        width: 100%;
    }

    & .sr-forecastData {
        width: 100%;
    }
}

@media (min-width: 482px) {
    .sr-container {
    
        & .sr-container-header {
    
            //Área aonde está o dominio do projeto
            & .sr-header-domine {
                & .sr-domine-link {
                }
            }
    
            //Área aonde está o input e o button
            & .sr-header-search {
    
                & .sr-search-input {
                    width: 390px;
                }
    
                & .sr-search-button {
                }
            }
    
        }
    }
}

@media (min-width: 992px) {
    .sr-container {
    
        & .sr-container-header {
            flex-direction: row;
            justify-content: space-between;
    
            //Área aonde está o dominio do projeto
            & .sr-header-domine {
                & .sr-domine-link {
                }
            }
    
            //Área aonde está o input e o button
            & .sr-header-search {
                justify-content: end;
    
                & .sr-search-input {
                    width: 180px;
                }
    
                & .sr-search-button {
                }
            }
    
        }

        & .sr-container-main {
            display: flex;
            padding: 0 10px;
            justify-content: center;
            gap: 50px;

            
         & .sr-forecastData {
            width: auto;
         }
        }
    }
}

@media (min-width: 1200px) {
    .sr-container {
    
        & .sr-container-header {
            flex-direction: row;
            justify-content: space-between;
    
            //Área aonde está o dominio do projeto
            & .sr-header-domine {
                & .sr-domine-link {
                    font-size: 1.4rem;
                }
            }
    
            //Área aonde está o input e o button
            & .sr-header-search {
                justify-content: end;
    
                & .sr-search-input {
                    width: 250px;
                    height: 35px;
                }
    
                & .sr-search-button {
                    height: 35px;
                    width: 35px;
                }
            }
    
        }
    }
}