.weatherContainerFiveDays {
    border-radius: 10px;

    h2 {
        font-size: 1.5rem;
        padding: 10px 0;
    }

    & .weatherList {
        flex-wrap: wrap;
        gap: 5px;
        row-gap: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 10px;

        & .weatherItem {
            text-align: center;
            background-color: rgba(255, 255, 255, .2);
            border-radius: 10px;
            padding: 10px;
            list-style-type: none;
            padding: 0;
            min-width: 130px;
            width: 130px;

            & .forecastDay,
            & .forecastDescription {
                text-transform: capitalize;
                font-size: 1rem;
                font-weight: bold;
            }
        }
    }
}

@media (min-width: 576px) {
    .weatherContainerFiveDays {
        h2 {
            font-size: 1.4rem;
        }

        & .weatherList {
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 20px;

            & .weatherItem {
                padding: 5px;
                width: 160px;

                & li {
                    font-size: 1rem;
                }

                & img {
                    width: 80px;
                }

                & .forecastDay,
                & .forecastDescription {
                    font-size: 1rem;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .weatherContainerFiveDays {
        & .weatherList {
            display: flex;
        }
    }
}

@media (min-width: 992px) {
    .weatherContainerFiveDays { 

        & .weatherList {
            display: flex;
            justify-content: space-evenly;
        }
    }
}